<section>
  <div class="justify-content:center">
    <div class="row" class="video-cards">
      <div
        *ngFor="let video of videos$ | async; let i = index"
        class="col-md-4 mb-3 video-card content-center"
        [ngStyle]="{
          zIndex: videosLength - i
        }"
      >
        <app-video
          [@cardAnimator]="animationState"
          (@cardAnimator.done)="resetAnimationState()"
          (swipeup)="startAnimation('slideOutUp', i)"
          (swipedown)="startAnimation('slideOutDown', i)"
          [video]="video"
        ></app-video>
      </div>
    </div>
  </div>
</section>
