.cardsposition {
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}

.cardchildren {
  position: absolute;
  left: 0;
  right: 0;
}

@media (min-width: 768px) {
  .col-md-4 {
    max-width: 100% !important;
  }
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
